# -*- coding: utf-8 -*-
#
# Copyright (C) 2023 Benjamin Thomas Schwertfeger
# All rights reserved.
# https://github.com/btschwertfeger
#

include README.md LICENSE pyproject.toml

graft kraken
prune .cache
prune .github
prune doc
prune examples
prune tests
prune venv
prune .venv
