# Note: This file is only used by the documentation build process, and is not
# intended to be used as a general requirements file for the project. It may
# contain dependencies that are only needed for building the documentation, and
# may not be suitable for use in a production environment.
aiohttp
asyncio>=3.4
click~=8.1
cloup~=3.0
furo
ipython
nbsphinx
orjson
requests~=2.32
setuptools_scm
sphinx<8.2.0 # doesn't work with nbsphinx
sphinx-click
websockets>=14.1
