# -*- mode: yaml; coding: utf-8 -*-
# Copyright (C) 2024 Benjamin Thomas Schwertfeger
# All rights reserved.
# https://github.com/btschwertfeger
#
# Template workflow to build the project and publish
# the package to test PyPI.
#

name: PyPI Publish

on:
  workflow_call:
    secrets:
      API_TOKEN:
        required: true

permissions: read-all

jobs:
  publish-to-test-pypi:
    name: Publish Python distribution to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for OIDC publishing
    environment:
      name: testpypi
      url: https://test.pypi.org/p/python-kraken-sdk
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            fulcio.sigstore.dev
            ghcr.io
            github.com:443
            pkg-containers.githubusercontent.com:443
            rekor.sigstore.dev
            test.pypi.org
            tuf-repo-cdn.sigstore.dev
            uploads.github.com:443

      - name: Download all the distributions
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: python-package-distributions
          path: dist/

      - name: Publish package distributions to Test PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # release/v1
        with:
          password: ${{ secrets.API_TOKEN }}
          repository-url: https://test.pypi.org/legacy/
