# -*- mode: yaml; coding: utf-8 -*-
# Copyright (C) 2023 Benjamin Thomas Schwertfeger
# All rights reserved.
# https://github.com/btschwertfeger
#
# Template workflow to test the public Futures endpoints
# of the python-kraken-sdk.
# Runs tests for:
#   * Futures REST clients
#

name: Test Futures

on:
  workflow_call:
    inputs:
      os:
        type: string
        required: true
      python-version:
        type: string
        required: true

permissions:
  contents: read

jobs:
  Test-Futures:
    name: Test ${{ inputs.os }} ${{ inputs.python-version }}
    runs-on: ${{ inputs.os }}
    timeout-minutes: 5
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            files.pythonhosted.org:443
            futures.kraken.com:443
            github.com:443
            objects.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            pypi.org:443

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Download the built wheel
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: python-package-distributions
          path: dist/

      - name: Set up Python ${{ inputs.python-version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install package (Linux or macOS)
        if: runner.os != 'Windows'
        run: |
          uv venv
          source .venv/bin/activate
          echo ${GITHUB_WORKSPACE}/.venv/bin >> $GITHUB_PATH
          uv pip install "$(find dist -name '*.whl' | head -1)" -r requirements-dev.txt

      - name: Install package (Windows)
        if: runner.os == 'Windows'
        run: |
          uv venv
          .venv\Scripts\activate.ps1
          echo "$env:GITHUB_WORKSPACE\.venv\Scripts" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          $wheel = (Get-ChildItem -Path dist -Filter "*.whl" | Select-Object -First 1).FullName
          uv pip install $wheel -r requirements-dev.txt

      - name: Testing Futures REST endpoints
        run: pytest -vv -x -n auto -m "futures and not futures_auth and not futures_websocket" tests

      - name: Testing Futures websocket endpoints
        run: pytest -vv -x -n auto -m "futures and not futures_auth and futures_websocket" tests
