# -*- coding: utf-8 -*-
# Copyright (C) 2023 Benjamin Thomas Schwertfeger
# Github: https://github.com/btschwertfeger
#
# Template workflow to test the Spot endpoints python-kraken-sdk.
# Runs tests for:
#   * Spot REST clients
#   * Spot websocket client
#

name: Test Spot

on:
  workflow_call:
    inputs:
      os:
        type: string
        required: true
      python-version:
        type: string
        required: true
    secrets:
      SPOT_API_KEY:
        required: true
      SPOT_SECRET_KEY:
        required: true

jobs:
  Test-Spot:
    name: Test ${{ inputs.os }} ${{ inputs.python-version }}
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python ${{ inputs.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest

      - name: Install package
        run: python -m pip install .

      ##    Unit tests of the Spot REST clients and endpoints
      ##
      - name: Testing Spot REST endpoints
        env:
          SPOT_API_KEY: ${{ secrets.SPOT_API_KEY }}
          SPOT_SECRET_KEY: ${{ secrets.SPOT_SECRET_KEY }}
        run: |
          pytest -vv -m "spot not spot_websocket" tests

      ##    Unit tests of the Spot websocket client
      ##
      - name: Testing Spot websocket client
        env:
          SPOT_API_KEY: ${{ secrets.SPOT_API_KEY }}
          SPOT_SECRET_KEY: ${{ secrets.SPOT_SECRET_KEY }}
        run: |
          pytest -vv -m "spot_websocket" tests
